*{
    margin: 0;
    padding: 0;
}

body{
    background: #ECF0F1; /* Gris claro tipo clínico */
    font-family: sans-serif;
    width: 100%;
}

/* Encabezado verde menta profesional */
header{
    background: #1ABC9C;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

/* Contenedor con verde aqua suave */
section{
    margin: 45px auto;
    background-color: #A3E4D7;
    width: 800px;
    padding: 30px;
    border-radius: 10px;
}

ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
    position: relative;
    width: 800px;
    height: 300px;
}

ul.slider li{
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background: #A3E4D7;
}

ul.slider li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul.slider li:first-child{
    opacity: 1;
}

ul.slider li:target{
    opacity: 1;
}

/* Botones del slider estilo clínico */
.menu{
    text-align: center;
    margin: 20px;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #117864; /* Verde profundo */
    padding: 20px;
    width: 20px;
    height: 20px;
    font-size: 30px;
    border-radius: 100%;
}

/* Footer verde-azul moderno de salud */
footer{
    background: #48C9B0;
    width: 100%;
    height: 5%;
    bottom: 0;
    text-align: center;
    position: absolute;
    color: white;
    font-weight: bold;
    padding-top: 10px;
}
