* { 
  margin: 0; 
  padding: 0; 
}

html {
  min-height: 100%;
  position: relative;
}

/* FONDO PRINCIPAL */
body {
  width: 100%;
  background: #E8F5E9; /* Fondo verde MUY suave - salud */
  margin: 0;
  margin-bottom: 40px;
}

/* HEADER */
header {
  background: #2E7D32; /* Verde médico */
  width: 100%;
  position: fixed;
  z-index: 1;
}

/* BARRA DE NAVEGACIÓN */
nav {
  margin: 30px auto;
  background-color: #4CAF50; /* Verde saludable */
  box-shadow: 0px 3px 20px 3px rgba(0, 80, 0, 0.3);
  margin: 0 auto;
}

nav ul {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  position: relative;
  text-align: center;
}

nav ul li {
  display: inline-block;
  background-color: #4CAF50; /* Se mantiene igual al menú */
}

nav a {
  display: block;
  padding: 0 30px;
  color: white;
  font-size: 16px;
  line-height: 60px;
  text-decoration: none;
}

/* HOVER MENÚ */
nav a:hover {
  background-color: #66BB6A; /* Verde brillante */
}

/* SUBMENÚ */
nav ul ul {
  display: none;
  position: absolute;
  top: 50px;
  background: #A5D6A7; /* Verde claro */
}

nav ul li:hover > ul {
  display: inherit;
}

nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}

nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}

/* LINKS GENERALES */
a {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

/* ICONO */
i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  margin: -7px 0 0px 7px;
  vertical-align: middle;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* SECTION Y ASIDE */
section {
  padding: 9em;
  float: right;
  width: 75%;
}

aside {
  padding: 9em;
  float: left;
  width: 25%;
  text-align: center;
}

/* FOOTER */
footer {
  background-color: #1B5E20; /* Verde oscuro profesional */
  position: absolute; /* corregido, mismo estilo */
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
  text-align: center;
}

/* PÁRRAFOS */
p {
  margin-top: 20px;
  margin-bottom: 10em;
  text-align: justify;
  font-family: arial, sans-serif;
  font-size: 15px;
}
