* {
    margin: 0;
    padding: 0;
}

body {
    background: #ddd;
    font-family: Raleway, sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

header, #central-content {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
}

header {
    background: linear-gradient(to bottom, rgba(59, 89, 151, 1) 0%, rgba(114, 105, 176, 1) 100%);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    padding: 0.8em 0;
}

header h1 {
    float: left;
    padding: 0 0.2em;
}

header h1#logo img {
    height: 40px;
    margin-left: 0.5em;
}

.control-menu {
    background-color: transparent;
    background-position: center;
    border: 1px solid #fff;
    display: block;
    float: right;
    height: 40px;
    margin-right: 1.3em;
    width: 40px;
}

.control-menu a span {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-indent: -99999px;
}

/* Iconos de menú */
.control-menu .close {
    background-image: url("img/close-menu.png");
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}

.control-menu .open {
    background-image: url("img/open-menu.png");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

/* --------------------- */
/* Menú desplegable */
/* --------------------- */

ul.nav-items {
    clear: both;
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease-in-out, background-color 2s ease;
}

#navigation:target ul.nav-items {
    background: #fff;
    height: 15.8em;
    transition: height 0.4s ease-in-out, background-color 0.9s ease;
}

/* Alternar iconos de abrir/cerrar */
.close {
    display: none;
}

#navigation:target .open {
    display: none;
}

#navigation:target .close {
    display: block;
}

ul.nav-items li {
    display: block;
}

ul.nav-items a {
    border-top: 2px dotted #dddbdb;
    color: #333;
    display: block;
    height: 3em;
    line-height: 3em;
    margin: 0 1.3em;
}

ul.nav-items li:first-child a {
    border-top: 2px solid transparent;
}

ul.nav-items li a span {
    border-left: 3px solid;
    height: 3.2em;
    padding: 0.4em 0.5em;
}

/* Colores por categoría */
#Web-Dev a span {
    border-color: #ff6633;
}

#Mobile a span {
    border-color: #bda94d;
}

#Data a span {
    border-color: #5887dc;
}

#Net-VS a span {
    border-color: #00a2b7;
}

#SharePoint a span {
    border-color: #639bf2;
}

/* Footer */
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    background: rgb(114, 105, 176);
}
