* {
  padding: 0;
  margin: 0;
}

body {
  width:100%;
  background: #662639f;
}


header {
  width: 100%;
  background: #2e7d32; 
  position: fixed;
  z-index: 1;
}

nav {
  width: 100%;
  margin: 0;
  overflow: hidden;
  display: inline-block;
  text-align:center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
}

nav ul li a {
  display: block;
  padding: 25px;
  color: #fff;
  text-decoration: none;
  border: 0px solid #3A3448;
}

nav ul li:hover {
  background: #66bb6a; 
  text-transform: uppercase;
  transition: all 1.5s;
  transform: scale(1.2);
}


section {
  padding-top: 80px;
  width: 90%;
  justify-content: center;
  margin-left: 5%;
}


#imagen1 {
  height: 600px;
  margin-bottom: 35px;
}


.centrar { text-align:center; }
p{
  text-align: center;
}


p {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: justify; 
  font-family: arial, sans-serif;
  font-size: 15px;
  
}


footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 10px 0px 10px 0px;
  background-color: #333;
  text-align: center;
}
